<h1>
    Sign Up below
</h1>
<style>
    h5{
        color: red;
    }
</style>
{% for messag in messages %}
<h5>
    {{ messag}}
</h5>
{% endfor %}    
<form method="POST" action = "register">
    {% csrf_token %}
    <p>Username :</p>
    <input type="text" name="username">
    <p>Email</p>
    <input type="email" name = "email">
    <p>Password</p>
    <input type="password" name ="password">
    <p>Repeat Password</p>
    <input type="password" name ="password2"><br>
    <input type="submit">
</form>